<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StreamVidz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>STREAMVIDZ</h1>
    </header>
    <main>
	    <form action="/search" method="POST">
		    <input type="text" name="query" placeholder="Search IMDb for movies..." required>
		    <button type="submit">Search</button>
	    </form>
	<!-- Featured Movies Section -->
    <section id="featured-movies">
	    <h2 class="featured-movies-header">Featured Movies</h2>
        <div class="movie-grid">
		<ul>
			<li>
				{% for movie in featured_movies %}
				<div class="movie-card">
					<img src="{{ movie['image'] }}" alt="{{ movie['title'] }} Poster" class="movie-poster">
					<h3>{{ movie['title'] }}</h3>
					<p>{{ movie['year'] }}</p>
					<a href="{{ url_for('stream', movie_id=movie.id) }}">Watch Now</a>
			</li>

				</div>
				{% endfor %}
		</ul>
        </div>
    </section>
    <footer>
        <p>&copy; 2025 StreamVidz. All rights reserved.</p>
    </footer>

    </main>
</body>
</html>
